<ion-view cache-view="false" view-title="Add Product">
  <ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear button-dark homeButton" href="#/home">Home</a>
        <!-- <button class="button icon-left ion-home">Home</button> -->
    </ion-nav-buttons>
  <ion-content>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Product Name</span>
        <input id="productName" type="text" placeholder="Eg. Snack Crackers">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Quantity</span>
        <input id="productQuantity" type="tel" placeholder="Eg. 83">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Barcode</span>
        <input id="barcodeInput" type="text" disabled>
      </label>
    </div>

    <div class="center">
      <a id="addProductButton" ng-click='addProductPressed()'>
        <button class="button button-dark" id="productButton">
          Add
        </button>
      </a>
    </div>

    <div id="imageOutput">
      <img id="productImage" src="">
    </div>

  </ion-content>
</ion-view>
