<!-- <ion-view view-title="Add Product"> -->
<ion-view cache-view="false" view-title="Product">
  <ion-content>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Product Name</span>
        <input id="productName" type="text" placeholder="Eg. Snack Crackers" value="{{productToUpdate.productName}}" ng-model="nameInput">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Quantity</span>
        <input id="productQuantity" type="tel" placeholder="Eg. 83" value="{{productToUpdate.quantity}}>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Barcode</span>
        <input id="barcodeInput" type="text" disabled value="{{productToUpdate.barcode}}>
      </label>
    </div>

    <div class="center">
      <a id="addProductButton" ng-click='addProductPressed()'>
        <button class="button button-dark" id="productButton">
          {{productButtonText}}
        </button>
      </a>
    </div>

    <div id="imageOutput">
      <img id="productImage" src="">
    </div>

  </ion-content>
</ion-view>
