<ion-view view-title="Login">
  <ion-content scroll="false">

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" id="userName">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" id="userPassword">
      </label>
    </div>

    <div class="center">
      <a id="loginButton" ng-click='loginPressed()'>
        <button class="button button-dark">
          Login
        </button>
      </a>
    </div>

  </ion-content>
</ion-view>
