<ion-view view-title="Products">
  <ion-content>

    <!-- Search products input form -->
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search products" ng-model="queryInventory">
      </label>
    </div>

      <!-- Products list -->
      <ul class="list" >
        <li class="item" ng-repeat="product in inventory | filter: queryInventory" id="{{$id}}">
          <b>Product: </b>{{product.productName}}<br>
          <b>Quantity: </b>{{product.quantity}}<br>
          <b>Barcode: </b>{{product.barcode}}<br>
        </li>
      </ul>

  </ion-content>
</ion-view>
