<ion-view view-title="Products">
  <ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear button-dark homeButton" href="#/home">Home</a>
        <!-- <button class="button icon-left ion-home">Home</button> -->
    </ion-nav-buttons>
  <ion-content>

    <!-- Search products input form -->
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search products" ng-model="queryInventory">
      </label>
    </div>

    <div class="list">
      <div ng-repeat="product in inventory | filter: queryInventory" id="{{$id}}">
        <div ng-click='productClicked(product)' class="item item-thumbnail-left">
          <img src="{{product.image}}">
          <h2>{{product.productName}}</h2>
          <p>Quantity: {{product.quantity}}</p>
          <p>Barcode: {{product.barcode}}</p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
