/* Empty. Add your own CSS if you like */
#scanButton {
  background:blue;
  display:table;
  margin:40% auto;
  padding:10px;
  color:white
}

#productsButton {
  background:orange;
  display:table;
  margin:40% auto;
  padding:10px;
  color:white;
  text-decoration: none;
}

#productsHeader {
  text-align: center;
  padding-top: 25px;
}

.productCard {
  text-align: center;
}

.productCard:nth-child(odd) {
  background: #7BA9D0;
}
